html {
    font-family: 'Kanit', sans-serif;
    font-size: 120%;
    line-height: 1.6;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-weight: 700;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

ul {
    font-weight: 300;
}

li {
    list-style-type: none;
}

a:link {
    text-decoration: none;
    font-weight: 100;
}
